<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pos_sehat_icon"
        android:label="Pos Sehat"
        android:roundIcon="@drawable/pos_sehat_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Possehat"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:label="Home"
            android:theme="@style/Theme.Possehat" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Possehat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PatientListActivity"
            android:label="Daftar Pasien"
            android:theme="@style/Theme.Possehat" />
        <activity
            android:name=".activity.PatientDetailActivity"
            android:label="Detail Pasien"
            android:theme="@style/Theme.Possehat" />
        <activity
            android:name=".activity.AddMedicationActivity"
            android:label="Tambah Obat"
            android:theme="@style/Theme.Possehat" />
        <activity
            android:name=".activity.MedicationListActivity"
            android:label="Daftar Obat"
            android:theme="@style/Theme.Possehat" />
        <activity
            android:name=".activity.AddPatientActivity"
            android:label="Tambah Pasien"
            android:theme="@style/Theme.Possehat" />
    </application>

</manifest>
